.header {
    width: 100%;
    background-color: forestgreen !important;
    height: 11vh;
    position: static;
}
.header-components {
    float: right !important;
    display: flex;
  }
.header img {
    width: 100%;
    height: 100%;
    max-width: 120px;
    max-height: 25px;
    margin: 18px 18px;
}
/* SearchBar */
.search-bar {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 18px 18px;
    padding: 2px;
  }
  
  .search-input {
    border: none;
    background-color: #f0f0f0;
    font-size: 13px;
  }
  .search-input:focus {
    outline: none;
  }
  
  .search-button {
    color: #9e9e9e;
    border: none;
    cursor: pointer;
    background: none;
  }
  
  .search-button i {
    margin-right: 5px;
  }

  /* NotificationSymbol */
  .notification-symbol {
    cursor: pointer;
    margin: 18px 18px;
    padding: 2px;
  }

  /*UserIconDropdown*/
  .user-icon-dropdown-container {
    position: relative;
    margin: 15px 5px;
    padding: 0px;
  }

  .user-icon-dropdown-container:hover {
    background-color: none !important;
  }
  
  #user-menu {
    top: 0px; 
  }
  
  @media (max-width: 576px) {
    .header {
      height: fit-content;
    }
    .header-components {
      display: flex;
      flex-direction: row !important;
    }
    .navbar-nav {
      display: flex;
      flex-direction: row;
    }
    .notification-symbol {
      cursor: pointer;
      margin: 15px 8px;
      padding: 5px;
    }
    .user-icon-dropdown-container {
      position: relative;
      margin: 15px 0px;
      padding: 0px;
    }
  }